<p>Welcome to company</p>

@model List<Company>
<div class="container">
	<div class="row">
		<div class="col-6">
			<h2>Company List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Company" asp-action="UpsertCompany"
			   class="btn btn-primary">
				<i class="bi bi-plus-circle-fill"></i>Create New Company
			</a>
		</div>
	</div>

</div>
<table id="myTable" class="table table-bordered table-striped" style="width:100%">
	<thead>
		<tr>
			<th>CompanyName</th>
			<th>StreetAddress</th>
			<th>City</th>
			<th>State</th>
			<th>Postal</th>
			<th>PhoneNumber</th>
			<th></th>
		</tr>
	</thead>

</table>


@section Scripts{
	<script src="~/js/Company.js" asp-append-version="true"></script>
}