@model List<Category>



<br />

<div class="container">
    <div class="row">

        <div class="col-6">
            <h2>Category List</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="CreateCategory"
               class="btn btn-primary">
                <i class="bi bi-arrow-right-circle-fill"></i>Create New Category List
            </a>

        </div>


    </div>


</div>






<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Display Order</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td>
                    <div class="m-75 btn-group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id=@item.CategoryId
                           class="btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>Edit
                        </a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id=@item.CategoryId
                           class="btn btn-danger mx-2">
                            <i class="bi bi-trash"></i>Delete
                        </a>
                    </div>
                </td>
            </tr>
        }


    </tbody>




</table>
