@model Product

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Product</h2>
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label class="text-primary">Product Title</label>
			<input asp-for="Title" type="text" class="form-control" />
			<span asp-validation-for="Title" , class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="text-primary">Description</label>
			<input asp-for="Description" type="text" class="form-control" />
			<span asp-validation-for="Description" , class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="text-primary">ISBN</label>
			<input asp-for="ISBN" type="text" class="form-control" />
			<span asp-validation-for="ISBN" , class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="text-primary">Author</label>
			<input asp-for="Author" type="text" class="form-control" />
			<span asp-validation-for="Author" , class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="text-primary">List Price</label>
			<input asp-for="ListPrice" type="text" class="form-control" />
			<span asp-validation-for="ListPrice" , class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label class="text-primary">Category List</label>
			<select asp-for="CategoryId" asp-items = "@(ViewData["CategoryList"] as IEnumerable<SelectListItem>)" class="form-select" >
				<option>--Select Category--</option>
			</select>
			<span asp-validation-for="ListPrice" , class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Submit</button>
		<a asp-controller="Product" asp-action="Index"
		   class="btn btn-warning">Back To List</a>

	</div>
</form>